@model IEnumerable<MedControlNet.Entities.Consultorio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-5">Todos los consultorios</h2>

<table class="table ">

    <thead class="table-primary">
        <tr>
            <th scope="col">Número de consultorio</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroConsultorio)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ConsultorioID }, new {@class = "btn btn-secondary" })
                </td>
            </tr>
        }

    </tbody>

</table>
