@{
    ViewBag.Title = "Gestión de consultorios";
}
<div class="row mt-5">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5>Médicos Especialistas</h5>
                </div>

                <table class="table pt-3 table-hover">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Identificación</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Especialidad</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>

@Scripts.Render("~/bundles/medicos")
<script type="text/javascript">
    (function () {
        let medicosApi = Medicos();
        medicosApi.obtenerMedicos().then(listaMedicos => {
            console.log(listaMedicos);
        });
    })();

</script>